<a href="https://colab.research.google.com/github/Arayandra/Andraaseventeen/blob/main/Tugas_Pertemuan_2_Desain_Analisis_Algoritma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

#terdapat list A dan B
a = [1, 2, 3]
b = [4, 5, 6]

#Jumlahkan
hasil = a + b

print(hasil)

[1, 2, 3, 4, 5, 6]

In [11]:
import numpy as np

#membuat array
nilai_siswa = np.array([85, 55, 40, 90])

#mengakses data pada array
print(nilai_siswa[0])

85

In [9]:
import numpy as np

#terdapat list A dan B
a = [1, 2, 3]
b = [4, 5, 6]

def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first + second)
  return result

add(a, b)

[5, 7, 9]

In [12]:
import numpy as np

print(np.__version__)

1.23.5

# hello world
## hello world
### hello world
#### hello world
##### hello world

In [15]:
print("Hello, World!")
print("Nama saya (Advani Rayandra Kahfi)")
print("Nim saya (2022071007)")

Hello, World!
Nama saya (Advani Rayandra Kahfi)
Nim saya (2022071007)

In [19]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [20]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [21]:
x = 4
x = "Sally"
print(x)

Sally

In [25]:
def getfirst(myList):
    return myList[0]

getfirst([1,2,3,])

1

In [35]:
def getfirst(myList):
    return myList[2-1]

getfirst([1,2,3,])

2

In [36]:
def getfirst(myList):
    return myList[5-2]

getfirst([1,2,3,4,5])

4

In [26]:
getfirst([1,2,3,4,5,6,7,8,9])

1

In [30]:
def getsecond(myList):
    return myList[1]

getsecond([1,2,3])

2

In [32]:
def getLast(myList):
    return myList[-1]

getLast([1,2,3,4,5,6,7,8,9])

9

In [33]:
def getLast(myList):
    return myList[-2]

getLast([1,2,3,4,5,6,7,8,9])

8

In [34]:
def getLast(myList):
    return myList[-3]

getLast([1,2,3,4,5,6,7,8,9])

7

In [38]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum
#perhatikan posisi spasi pada return

getSum([1,2,3,4])

10

In [40]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum

getSum([1,2,3])

6

In [41]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

15

In [42]:
def getSum(myList):
    sum = 1
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

16

In [43]:
def getSum(myList):
    sum = 2
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

17

In [44]:
def getSum(myList):
    sum = -2
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

13

In [46]:
def getSum(myList):
    sum = -5
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

10

In [47]:
def getSum(myList):
    sum = 2-3
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

14

In [49]:
def getSum(myList):
    sum = 3-1
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

17

In [52]:
def getKali(myList):
    kali = 1
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

120

In [53]:
def getKali(myList):
    kali = 0
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

0

In [54]:
def getKali(myList):
    kali = 5
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

600

In [60]:
def getKali(myList):
    kali = 5
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3])

30

In [55]:
def getKali(myList):
    kali = -2
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

-240

In [56]:
def getKali(myList):
    kali = 3
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

360

In [66]:
def getBagi(myList):
    bagi = 0
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([1,2,3,4,5])

0.0

In [62]:
def getBagi(myList):
    bagi = 1
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([1,2,3])

0.16666666666666666

In [65]:
def getBagi(myList):
    bagi = 2
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([1,2,3])

0.3333333333333333

In [78]:
def getAverage(myList):
    Average = 0
    for item in myList:
        Average = sum(myList) / len(myList)
    return Average


getAverage([1,2,3,4,5])

3.0

In [79]:
def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first - second)
  return result

add(a, b)

[-3, -3, -3]

In [80]:
x = ([1,2,3,4,5])
y = ([1,2,3,4,5])
hasil = sum(x) / sum(y)
print(hasil)

1.0

In [82]:
def kurang(list_a, list_b):
  return getSum(list_a) - getSum(list_b)

kurang([1,2,3,4],[5,6,7,8])

4.440892098500626e-16

In [84]:
def bagi(list_a, list_b):
  return getSum(list_a) / getSum(list_b)

bagi([1,2,3,4],[5,6,7,8])

1.0000000000000002